docs/* linguist-detectable=false
template/src/* linguist-detectable=false
template/tests/* linguist-detectable=false
template/docs/html/* linguist-detectable=false
template/docs/html/search/* linguist-detectable=false
template/docs/tests/* linguist-detectable=false
template/include/* linguist-detectable=false
template/lib/my/* linguist-detectable=false
template/lib/my/my_printf/* linguist-detectable=false
template/lib/mylist/* linguist-detectable=false
template/lib/mymemory/* linguist-detectable=false
